/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Apr 27, 2023, 1:10:44 AM
    Author     : chong
*/

.wholeProgramOfLoginClass,.wholeProgramOfLoginClass:before,.wholeProgramOfLoginClass:after{
    margin:0;
    padding:0;
    box-sizing:border-box;
    


}
  
  body{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/pictureForLogin/loginImage.jpg);
    background-repeat:none;
    background-size: 1550px;
    font-family: 'Nunito', sans-serif;
  }

  
  
  .contlogin  input, button{
    border:none;
    outline: none;
    background: none;
  }
  
 .contlogin{
    overflow: hidden;
    position: relative;
    width: 900px;
    height: 550px;
    background-color: #fff;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  }
  
  .loginform{
    position: relative;
    width: 640px;
    height: 100%;
    padding: 50px 30px;
    -webkit-transition:-webkit-transform 1.2s ease-in-out;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
  }
  
  .contlogin h2{
    width: 100%;
    font-size: 30px;
    text-align: center;
  }
  
  .contlogin label{
    display: block;
    width: 260px;
    margin: 25px auto 0;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: #0c0101;
    text-transform: uppercase;
    
  }
  
  
  .contlogin input[type=text], .contlogin input[type=email], .contlogin input[type=tel], .contlogin input[type=password]{
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    font-size: 16px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(109, 93, 93, 0.4);
    text-align: center;
    font-family: 'Nunito', sans-serif; 
  }
  .contlogin select{
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    font-size: 16px;
    padding: 10px 30px;
    border-radius:10px;
    box-sizing: border-box;
    opacity:50% ;
    text-align: center;
    font-family: 'Nunito', sans-serif; 
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border: 3px solid grey;
}

  
  .contlogin input[type=submit]{
    display: block;
    margin: 0 auto;
    width: 260px;
    height: 36px;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    margin-top: 40px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
    background: -webkit-linear-gradient(left, #7579ff, #b224ef);
  }
  
  .contlogin .submit:hover{
    background: -webkit-linear-gradient(left, #b224ef, #7579ff);
  }
  
  .contlogin .forgot-pass{
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: #0c0101;
    cursor: pointer;
  }
  
  .contlogin .forgot-pass:hover{
    color: red;
  }
  
  .social-media{
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
  
  .social-media ul{
    list-style: none;
  }
  
  .social-media ul li{
    display: inline-block;
    cursor: pointer;
    margin: 25px 15px;
  }
  
  .social-media img{
    width: 40px;
    height: 40px;
  }
  
  .sub-logincont{
    overflow: hidden;
    position: absolute;
    left: 640px;
    top: 0;
    width: 900px;
    height: 100%;
    padding-left: 260px;
    background: #fff;
    -webkit-transition: -webkit-transform 1.2s ease-in-out;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
  }
  
 .contlogin.s-signup .sub-logincont{
    -webkit-transform:translate3d(-640px, 0, 0);
            transform:translate3d(-640px, 0, 0);
  }

  .sign-up-cont {
    overflow-y: scroll;

  }
  
  .imglogging{
    overflow: hidden;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 260px;
    height: 100%;
    padding-top: 360px;
  }
  
  .imglogging:before{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 900px;
    height: 100%;
    background-image: url(../img/pictureForLogin/loginImage.jpg);
    background-size: cover;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
  }
  
  .imglogging:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
   background: rgba(0,0,0,0.3);
    background-image: url(../img/pictureForLogin/loginImage.jpg);
  
  }
  
 .contlogin.s-signup .imglogging:before{
    -webkit-transform:translate3d(640px, 0, 0);
            transform:translate3d(640px, 0, 0);
  }
  
  .img-text{
    z-index: 2;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    padding: 0 20px;
    text-align: center;
    font-weight: bold;
/*    color: white;*/
    font-size: 20px;
    text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
    color: rgb(33, 145, 143);
    -webkit-transition:-webkit-transform 1.2s ease-in-out;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
  }
  
  .img-text h2{
    margin-bottom: 10px;
    font-weight: normal;
  }
  
  .img-text p{
    font-size: 14px;
    line-height: 1.5;
  }
  
 .contlogin.s-signup .img-text.m-up{
    -webkit-transform:translateX(520px);
            transform:translateX(520px);
  }
  
  .img-text.m-in{
    -webkit-transform:translateX(-520px);
            transform:translateX(-520px);
  }
  
 .contlogin.s-signup .img-text.m-in{
    -webkit-transform:translateX(0);
            transform:translateX(0);
  }
  
  
  .sign-in{
    padding-top: 65px;
    -webkit-transition-timing-function:ease-out;
            transition-timing-function:ease-out;
  }
  
 .contlogin.s-signup .sign-in{
    -webkit-transition-timing-function:ease-in-out;
            transition-timing-function:ease-in-out;
    -webkit-transition-duration:1.2s;
            transition-duration:1.2s; 
    -webkit-transform:translate3d(640px, 0, 0);
            transform:translate3d(640px, 0, 0);
  }
  
  .img-button{
    overflow: hidden;
    z-index: 2;
    position: relative;
    width: 100px;
    height: 36px;
    margin: 0 auto;
    background: transparent;
    color: white;
     font-size: 20px;
    text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
  }
  
  .img-button:after{
    content: '';
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    border-radius: 30px;
  }
  
  .img-button span{
    position: absolute;
    left: 0;
    top: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack:center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    -webkit-transition:-webkit-transform 1.2s;
    transition: -webkit-transform 1.2s;
    transition: transform 1.2s;
    transition: transform 1.2s, -webkit-transform 1.2s;;
  }
  
  .img-button span.m-in{
    -webkit-transform:translateY(-72px);
            transform:translateY(-72px);
  }
  
 .contlogin.s-signup .img-button span.m-in{
    -webkit-transform:translateY(0);
            transform:translateY(0);
  }
  
 .contlogin.s-signup .img-button span.m-up{
    -webkit-transform:translateY(72px);
            transform:translateY(72px);
  }
  
  .sign-up{
    -webkit-transform:translate3d(-900px, 0, 0);
            transform:translate3d(-900px, 0, 0);
  }
  
 .contlogin.s-signup .sign-up{
    -webkit-transform:translate3d(0, 0, 0);
            transform:translate3d(0, 0, 0);
  }

#loadingButton{
  background:rgb(11,20,36) url(../pictureloading/slidin_squares.gif) no-repeat center center;
  background-size:50%;
  height:150vh;
  width:110%;
  position:fixed;
  z-index:100;

}

.load_display{
  display: hidden;
  opacity: 0;
  overflow: hidden;
  height: 0vh;
}
