<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>StaffDashboard</servlet-name>
        <servlet-class>servlet.StaffDashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerLoginRegisterServlet</servlet-name>
        <servlet-class>servlet.CustomerLoginRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffLoginServlet</servlet-name>
        <servlet-class>servlet.StaffLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEditDeleteStaffServlet</servlet-name>
        <servlet-class>servlet.AddEditDeleteStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetStaff</servlet-name>
        <servlet-class>servlet.GetStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetProduct</servlet-name>
        <servlet-class>servlet.GetProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEditDeleteProductServlet</servlet-name>
        <servlet-class>servlet.AddEditDeleteProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProduct</servlet-name>
        <servlet-class>entity.AddProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductServlet</servlet-name>
        <servlet-class>servlet.AddProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProductServlet</servlet-name>
        <servlet-class>servlet.EditProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductServlet</servlet-name>
        <servlet-class>servlet.DeleteProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDeleteServlet</servlet-name>
        <servlet-class>servlet.ProductDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSearchResultServlet</servlet-name>
        <servlet-class>servlet.GetSearchResultServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignOutServlet</servlet-name>
        <servlet-class>servlet.SignOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dashboard</servlet-name>
        <servlet-class>servlet.Dashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCart</servlet-name>
        <servlet-class>servlet.AddToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCustomerCart</servlet-name>
        <servlet-class>servlet.GetCustomerCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCart</servlet-name>
        <servlet-class>servlet.GetCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCart</servlet-name>
        <servlet-class>servlet.DeleteCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutServlet</servlet-name>
        <servlet-class>servlet.CheckOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentServlet</servlet-name>
        <servlet-class>servlet.PaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetFilterResult</servlet-name>
        <servlet-class>servlet.GetFilterResult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getFilterResult</servlet-name>
        <servlet-class>servlet.getFilterResult</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StaffDashboard</servlet-name>
        <url-pattern>/StaffDashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerLoginRegisterServlet</servlet-name>
        <url-pattern>/CustomerLoginRegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffLoginServlet</servlet-name>
        <url-pattern>/StaffLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEditDeleteStaffServlet</servlet-name>
        <url-pattern>/AddEditDeleteStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetStaff</servlet-name>
        <url-pattern>/GetStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetProduct</servlet-name>
        <url-pattern>/GetProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEditDeleteProductServlet</servlet-name>
        <url-pattern>/AddEditDeleteProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProduct</servlet-name>
        <url-pattern>/AddProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductServlet</servlet-name>
        <url-pattern>/AddProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProductServlet</servlet-name>
        <url-pattern>/EditProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductServlet</servlet-name>
        <url-pattern>/DeleteProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDeleteServlet</servlet-name>
        <url-pattern>/ProductDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSearchResultServlet</servlet-name>
        <url-pattern>/GetSearchResultServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignOutServlet</servlet-name>
        <url-pattern>/SignOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dashboard</servlet-name>
        <url-pattern>/Dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCart</servlet-name>
        <url-pattern>/AddToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCustomerCart</servlet-name>
        <url-pattern>/GetCustomerCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCart</servlet-name>
        <url-pattern>/GetCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCart</servlet-name>
        <url-pattern>/DeleteCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutServlet</servlet-name>
        <url-pattern>/CheckOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentServlet</servlet-name>
        <url-pattern>/PaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetFilterResult</servlet-name>
        <url-pattern>/GetFilterResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getFilterResult</servlet-name>
        <url-pattern>/getFilterResult</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
